<style>
	.div-img{
		text-align: center;
	}
	.div-img img{
		width: 50%;
		height: 50%;
		opacity: 0.5	;
	}
	.div-img h1	{
		color: #fff;
		font-size: 10vh;
	}	
</style>
<div class="div-img">
	<h1>Placar de Buraco</h1>
	<img src="img/contagem.png" alt="">
</div>