<div ng-controller="ctrlPartic" class="container">
	<h1 style="color:#fff;text-decoration: underline;text-align: center;font-size: 6vw;">Participantes</h1>
	<a type="button" class="" data-toggle="modal" data-target="#myModal">
		<i class="fa fa-plus-square" aria-hidden="true"></i>
	</a>
	<br>
	<div class="grid-Part">
		<div class="addPart">
		</div>
		<div class="list-group" style="width:100%;">
		    <div class="list-group-item" ng-repeat="participante in participantes track by $index	">
		      <img src="" alt="" class="circle">
		      <span>{{participante.nome}}</span>
		      <p>{{participante.celular}}</p>
		      <!--a href="#!" class="secondary-content"><i class="material-icons">grade</i></a-->
		    </div>
		</div>
	</div>
  	<!-- Modal Structure -->
	<div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="background-color:#a5d6a7">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Novo Participante</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form>
	        	<input tabindex="-1" type="text" placeholder="Nome" ng-model="jogador.nome" style="width: 100%;" required />
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	        <button type="button" class="btn btn-success" ng-click="	gravaPart()">Gravar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
