<!DOCTYPE html>
<html ng-app="myAppPlacar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link href="css/style.css" rel="stylesheet">

  </head>
  <body ng-controller="MainCtrl">
    <div ng-view></div>
    <div class="tabs">
      <div class="item " ng-class="{'active':tabAtiva===0}" ng-click="goPagina(0)">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        Início
      </div>
      <div class="item" ng-class="{'active':tabAtiva===2}" ng-click="goPagina(2)">
        <i class="fa fa-cubes" aria-hidden="true"></i>
        Jogo
      </div>
      <div class="item" ng-class="{'active':tabAtiva===1}" ng-click="goPagina(1)">
        <i class="fa fa-users" aria-hidden="true"></i>
        Participantes
      </div>
      <div class="item" ng-class="{'active':tabAtiva===3}" ng-click="goPagina(3)">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        Histórico
      </div>
    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
