/* Empty. Add your own CSS if you like */
body{
	background-color: #007e0f !important;
	max-width: 920px;
	margin: 0 auto;
}
.container{
	width: 95%;
	position: relative;
}
.container > a {
	position: absolute;
	top: 10px;
	right: 5px;
}
.container > a > i{
	font-size: 5vw;
	color: #fff;
}
.grid-Part{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.list-group-item {
	background-color: #a5d6a7;
	width: 100%;
	font-size: 4vw;
	border-bottom: 2px solid #007e0f;
}
.tabs {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 12vh;
}
.item {
	margin: 0;
	height: inherit;
	width: 25%;
	flex-basis: 30;
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
	font-size: 3vw;
	font-weight: bold;
	background-color:rgb(38, 171, 38);
    align-self: center;
    padding-top: 1vh;	
}
.item.active{
	background-color: #007e0f;
	color: #fff;
}
.modal-body input{
	font-size: 2vw;
}
